<div class="posts-container">
	<div class="container">
        <app-navigation-bar></app-navigation-bar>
		<div class="posts-header">
			<h1>Feed de Posts</h1>
			<button routerLink="/create-post" class="btn btn-primary">
				<i class="fas fa-plus"></i>
				Crear Post
			</button>
		</div>

		<div class="posts-content">
			<div *ngIf="loading" class="loading">
				<p>Cargando posts...</p>
			</div>

			<div *ngIf="!loading && posts.length === 0" class="no-posts">
				<p>No hay posts disponibles. ¡Sé el primero en crear uno!</p>
				<button routerLink="/create-post" class="btn btn-primary">
					Crear mi primer post
				</button>
			</div>

			<div *ngFor="let post of posts" class="post-card">
				<div class="post-header">
					<div class="post-author">
						<div class="author-avatar">
							<i class="fas fa-user"></i>
						</div>
						<div class="author-info">
							<h3>{{ post.author.username }}</h3>
							<span class="post-date">{{
								post.createdAt | date : "medium"
							}}</span>
						</div>
					</div>
				</div>

				<div class="post-content">
					
						*ngIf="post.imageUrl"
